.sidebar{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 200px;
    background-color: whitesmoke;
    border:1px solid gray;

    display: flex;
    flex-direction: column;

    transition: width 0.3s;
}
.nav-element{
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    justify-content: end;
    border-radius: 8px;

    transition: grid-template-columns 0.3s;
    opacity: 0.3s;
}
.nav-element:hover{
    background-color: rgb(117, 176, 254);
}
.nav-element:active{
    opacity: 0.7;
}

.nav-element img{
    border:3px solid rgb(29, 108, 253);
    border-radius: 4px;
}
.nav-element:hover img{
    border:3px solid white;
}
.nav-element p{
    color: rgb(29, 108, 253);
    font-weight: 600;
}
.image{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
#prescript{
    position: relative;
}

#prescript .notifications{
    position:absolute;
    right: 0;
    font-size: 12px;
    border: 1px solid rgb(87, 146, 255);
    border-radius: 6px;
    padding: 1px 3px;
}
@media(max-width: 1000px){
    .nav-element{
        grid-template-columns: 9fr 0;
    }
    .nav-element p{
        opacity: 0;
    }
    .sidebar{
        width: 50px;
    }
}
