
body{
    background-color: rgb(255, 171, 69);
}
main{
    background-color: rgb(218, 80, 0);
    border:2px solid, rgb(132, 83, 0);
    padding: 30px;
    padding-bottom: 60px;
    width: fit-content;
    margin:auto;

}
video{
    height: fit-content;
    margin: auto;
    height: fit-content;
    max-width: 800px;
}
button{
    border:none;
    position: inherit;
    width: 10%;
    color: rgb(255, 194, 194);
    background-color: rgb(255, 17, 0);
    border-radius: 18px;
    height: 36px;
    width: 80px;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}
.auto-button{
    float: right;
}